{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}



<h1>Login</h1>
<br/><br/>
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control"  name="username" placeholder="Username">
          </div>
        <div class="mb-3">
        
            <input type="password" class="form-control" name="password" placeholder="Password">
        
        <button class="btn btn-secondary">Login</button>
</div>
<br/>
Not Register Sign Up<a href="{% url 'register' %}"> Here!</a>
</div>


{% endblock %}