{% extends 'base.html' %}
{% block title %} Create new Blogpost! {% endblock %}
{% block content %}



{% if user.is_authenticated %}
    <h1>Add Post</h1>
    <br/><br/>
    <div class="mb-3"></div>
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>
{% else %}

You're not allowed here!
    
{% endif %}
    

{% endblock %}