{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}




{% block content %}
<h1>{{ post.title }}</h1>
<small>By: 
    {{ post.author.first_name }} - 
    {{ post.post_date }}   
    
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            - <a href="{% url 'update_post' post.pk %}">(Edit Post)</a>

            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    {% endif %}
</small><br/>
<hr>
<br/>
{{ post.body|safe }}

<br/><br/>
<hr/>

<h2>Comments...</h2>
<br/>
{% if not post.comments.all %}
    No comments Yet...<a href="{% url 'add_comment' post.pk %}">
    Add One</a>
{% else %}
<br/><br/>

<br/><br/>
    {% for comment in post.comments.all %}
    <strong>
    {{ comment.name }} -
    {{ comment.date_added }}
    </strong>
    <br/>
    {{ comment.body }}
    <br/><br/>
    
    {% endfor %}
    <a href="{% url 'add_comment' post.pk %}">Add Comments</a>
{% endif %}
<br/><br/>
<hr/>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value ="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit", name="post_id", value ="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    {% endif %}
{% else %}
    <small><a href="{% url 'login' %}">Login</a> to Like</small>
    
{% endif %}
    - {{ total_likes }} Likes
</form>
<br/><br/>


{% endblock %}