{% extends 'base.html' %}
{% block title %} Delete Post {% endblock %}
{% block content %}


{% if user.is_authenticated %}
    <h1>Delete Post</h1>
    <br/><br/>
    <h3>Delete: {{ post.title }}</h3>

    <br/>
    <div class="mb-3"></div>
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure?</strong><br/><br/><br/>
            <button class="btn btn-secondary">Delete Post!</button>
    <div class="mb-3">
{% else %}

You're not allowed here!
        
{% endif %}
        
{% endblock %}